header {
	height: 630px;
	padding-top: 2rem;

	nav {
		padding: 0 !important;

		a {
			width: 110px;
			height: 64px;
			background-color: #dedede;
			font-weight: bold;
			font-size: 16px;
			color: #000;
		}
	}
	
	#header {
		position: relative;
		margin-top: 70px;

		h3 {
			font-weight: normal;
			font-size: 40px !important;
			line-height: 60px;
			width: 445px;
		}

		div:nth-of-type(2) {
			padding-left: 4% !important;

			h6 {
				font-weight: 500;
				font-size: 17px !important;
				width: 445px;
			}

			button {
				font-weight: 600;
				font-size: 20px;
				text-transform: uppercase;
			}
		}

		#backvid {
			width: 284px;
			height: 520px;
			background-color: #fff;
			position: absolute;
			left: 12%;
			top: 28%;
		}

		#vid {
			margin-top: 8%;
			background-image: url("../../images/unsplash-video-image.jpg");
			width: 880px;
			height: 508px;
			background-size: contain;
			z-index: 10;

			.playbut {
				width: 96px;
				height: 96px;
				background-color: #ffffff;
				z-index: 20;
				position: absolute;
				border-radius: 50%;
				left: 47%;
				top: 58%;

				.playbut_in {
					/* width: 50px;
					height: 50px; */
					border-style: solid;
					border-width: 0px 30px 45px 30px;
					border-color: transparent transparent #0E73E5;
					position: absolute;
					top: 25%;
					left: 26%;
					transform: rotate(90deg);
				}
			}
		}
	}
}
