<!doctype html>
<html lang="fa" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="images/favicon.ico">
	<title>سایت رزومه ی من</title>
	<% include /src/include/styles.ejs %>
</head>

<body class="Site bg-secondary">

	<% include /src/include/header.ejs %>

		<main class="Site-content">
			<!-- <a href="page.html">sample page</a> -->
			<section class="container mycontain" id="service">
				<h4 class="text-primary text-center mb-3">Lorem ipsum dolor sit amet</h4>
				<h6 class="text-muted text-center">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
				<div class="row mt-5">
					<div class="col-md-3">
						<div class="card">
							<img src="images/s1.png" class="img-fluid mx-auto">
							<div class="card-body text-center">
								<h5 class="card-title">Lorem ipsum 1</h5>
								<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img src="images/s2.png" class="img-fluid mx-auto">
							<div class="card-body text-center">
								<h5 class="card-title">Lorem ipsum 2</h5>
								<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img src="images/s3.png" class="img-fluid mx-auto">
							<div class="card-body text-center">
								<h5 class="card-title">Lorem ipsum 3</h5>
								<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img src="images/s4.png" class="img-fluid mx-auto">
							<div class="card-body text-center">
								<h5 class="card-title">Lorem ipsum 4</h5>
								<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container-fluid mycontain" id="about">
				<div class="row">
					<div class="col-md-6">
						<img src="images/about.jpg" class="img-fluid">
					</div>
					<div class="col-md-6 bg-primary text-white">
						<h3>Lorem ipsum dolor sit amet</h3>
						<ul class="mt-3">
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
							<li>sed do eiusmod tempor incididunt ut</li>
							<li>Ut enim ad minim veniam</li>
							<li>quis nostrud exercitation ullamco laboris nisi</li>
						</ul>
						<button class="btn btn-light text-primary rounded-0">button</button>
					</div>
				</div>
			</section>
		</main>

		<% include /src/include/footer.ejs %>
			<% include /src/include/scripts.ejs %>

</body>

</html>