<<<<<<< HEAD
<footer>
	
</footer>

=======
<footer class="bg-light py-2 border-top">
	<div class="container mycontain" id="footer">
		<p class="d-inline-block mb-0">© 2022 Armin Mohammaddoust - English Landing Page UI Design with Interactions</p>
		<h6 class="d-inline-block mb-0">View Mobile Site<i class="fas fa-long-arrow-alt-right"></i></h6>
	</div>
</footer>
>>>>>>> b42ccada52b36fe2dfea94abb7ddef4e08a625c1
